@charset "utf-8";

/* ----------------------------------- Allgemeines und Seitenkopf */

body {
    margin: 0;
    font-family: "Courier New", Courier, monospace;
    background-color: black;
    /*background-image: url("/img/background.jpg");*/
}

#content {
    min-width: 700px;
}


/* ----------------------------------- Navigation */

header {
    position: fixed;
    top: 0;
    height: 47px;
    width: 100%;
    background-color: white;
    z-index: 9;
}

nav {
    width: 50%;
    min-width: 500px;
    margin: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0 15px;
    overflow: hidden;
    display: flex;
    text-align: center;
}

nav li {
    float: left;
    flex: 1;
}

nav li a,
nav .dropbtn {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 25px 13px 25px;
    text-decoration: none;
    white-space: nowrap;
    text-transform: uppercase;

}

nav li a:hover,
nav .dropdown:hover .dropbtn {
    color: red;
}

nav li.dropdown {
    display: inline-block;

}

nav .dropdown-content {
    display: block;
    height: 0;
    opacity: 0;
    border: 1px solid black;
    border-top: 0;

}

nav .dropdown-content a {
    background-color: white;
    padding: 12px 25px;
    text-decoration: none;
    display: block;
    text-align: center;
    transition: .25s;
}

nav .dropdown-content a:hover {}

nav .dropdown:hover .dropdown-content {
    height: auto;
    opacity: 1;
    transition: .25s;

}


/* ----------------------------------- Haupttext */

main {
    margin: 100px auto;
    width: 50%;
    min-width: 700px;
}

main article {
    position: relative;
    background-color: white;
    margin-bottom: 20px;
    padding: 30px;
    border: 5px solid black;
    outline: 15px solid white;
}

main article h1 {
    text-transform: uppercase;
    position: absolute;
    top: -5px;
    left: 20px;
    background-color: white;
    margin: 0;
    padding: 0 10px;
    line-height: 5px;
}

main article section h2 {
    margin: 0;
}

main article section {
    margin-bottom: 15px;
}

main article section:last-of-type {
    margin-bottom: 30px;
}


main article footer > p {
    margin-bottom: 15px;
}
