@charset "utf-8";

/* ----------------------------------- Allgemeines und Seitenkopf */

body {
    margin: 0;
    font-family: Calibri, serif;
    background-color: black;
    /*background-image: url("/img/background.jpg");*/
}

#content {
    min-width: 700px;
}


/* ----------------------------------- Navigation */

header {
    position: fixed;
    top: 0;
    height: 40px;
    width: 100%;
}

nav {
    width: 50%;
    min-width: 500px;
    margin: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0 15px;
    overflow: hidden;
    display: flex;
    text-align: center;
}

nav li {
    float: left;
    flex: 1;
}


nav li a,
nav .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
        white-space: nowrap;

}

nav li a:hover,
nav .dropdown:hover .dropbtn {
    text-shadow: 0 0 3px red;
    color: red;
}

nav li.dropdown {
    display: inline-block;
}

nav .dropdown-content {
    position: relatve;
    display: block;
    z-index: 9;
    height: 0;
    opacity: 0;
}

nav .dropdown-content a {
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    display: block;
    text-align: center;
    transition: .25s;
}

nav .dropdown-content a:hover {
}

nav .dropdown:hover .dropdown-content {
    height: auto;
    opacity: 1;
    transition: .25s;
}


/* ----------------------------------- Haupttext */

main {
    margin: 50px auto;
    width: 50%;
    min-width: 700px;
}

main article {
    border: solid 1px white;
}

main article section {
    margin-bottom: 15px;
}

main article section:last-of-type {
    margin-bottom: 30px;
}

main article section h2 {
    font-weight: bold;
    margin-bottom: 15px;
}

main article footer > p {
    margin-bottom: 15px;
}
