@charset "utf-8";

/* ----------------------------------- Allgemeines und Seitenkopf */

body {
    margin: 0;
    font-family: Calibri, serif;
    background-color: black;
    /*background-image: url("/img/background.jpg");*/
}

#content {}


/* ----------------------------------- Navigation */

header {
    position: fixed;
    top: 0;
    height: 40px;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    margin-left: 50px;
    float: left;
}

nav li a,
nav .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
}

nav li a:hover,
nav .dropdown:hover .dropbtn {
    text-shadow: 0 0 3px red;
    color: red;
}

nav li.dropdown {
    display: inline-block;
}

nav .dropdown-content {
    position: absolute;
    top: 30px;
    min-width: 160px;
    opacity: 0;
    visibility: none;
    transition: .25s;
}

nav .dropdown-content a {
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    display: block;
    text-align: left;
}

nav .dropdown-content a:hover {
}

nav .dropdown:hover .dropdown-content {
    opacity: 1;
    top: 40px;
    visibility: visible;
}


/* ----------------------------------- Haupttext */

main {
    padding: 30px 350px 20px 50px;
}

main article section {
    margin-bottom: 15px;
}

main article section:last-of-type {
    margin-bottom: 30px;
}

main article section h2 {
    font-weight: bold;
    margin-bottom: 15px;
}

main article footer > p {
    margin-bottom: 15px;
}


/* ----------------------------------- Termin-Spalte */

aside {
    position: absolute;
    width: 220px;
    top: 240px;
    right: 50px;
    background-image: url(img/angebote_hg.jpg);
    min-height: 420px;
    background-repeat: no-repeat;
    background-color: #E8E9CB;
    background-position: bottom;
}

aside h1 {
    height: 20px;
    padding: 12px 0 8px 15px;
    color: #E8E9CB;
    background-color: #366789;
}

aside article {
    min-height: 270px;
    margin-bottom: 150px;
}

aside article span {
    font-weight: bold;
    display: block;
}

aside article section > p {
    padding: 10px 15px;
}

aside footer {
    position: absolute;
    padding: 5px;
    bottom: 0;
    right: 0;
    text-align: right;
    color: #E8E9CB;
}

aside article p,
aside footer {
    font-size: 13px;
}
